schema/includes/region_modulation_opcodes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:annotation>
        <xs:documentation>
    ================ ## Region opcodes: Modulation  ==================================
    </xs:documentation>
    </xs:annotation>

<!-- Type: Envelope Generators -->
<xs:element name="ampeg_attack"><xs:annotation><xs:documentation xml:lang="en">EG attack time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_attack_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_vel2attack"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG attack time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_decay"><xs:annotation><xs:documentation xml:lang="en">EG decay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_decay_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_vel2decay"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on pitch EG decay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_delay"><xs:annotation><xs:documentation xml:lang="en">EG delay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_delay_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_vel2delay"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG delay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_hold"><xs:annotation><xs:documentation xml:lang="en">EG hold time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_hold_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_vel2hold"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG hold time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_release"><xs:annotation><xs:documentation xml:lang="en">EG release time (after note release).</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_release_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_vel2release"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG release time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_sustain"><xs:annotation><xs:documentation xml:lang="en">EG sustain level, in percentage.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_sustain_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_vel2sustain"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG sustain level, in percentage.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_start"><xs:annotation><xs:documentation xml:lang="en">Envelope start level, in percentage.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="ampeg_start_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_attack"><xs:annotation><xs:documentation xml:lang="en">EG attack time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_vel2attack"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG attack time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_decay"><xs:annotation><xs:documentation xml:lang="en">EG decay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_vel2decay"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on filter EG decay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_delay"><xs:annotation><xs:documentation xml:lang="en">EG delay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_vel2delay"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on filter EG delay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_depth"><xs:annotation><xs:documentation xml:lang="en">Envelope depth.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-12000_12000" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_vel2depth"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG depth, in cents for pitch or filter cutoff.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-12000_12000" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_hold"><xs:annotation><xs:documentation xml:lang="en">EG hold time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_vel2hold"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG hold time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_release"><xs:annotation><xs:documentation xml:lang="en">EG release time (after note release).</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_vel2release"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG release time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_start"><xs:annotation><xs:documentation xml:lang="en">Envelope start level, in percentage.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_sustain"><xs:annotation><xs:documentation xml:lang="en">EG sustain level, in percentage.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fileg_vel2sustain"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG sustain level, in percentage.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_attack"><xs:annotation><xs:documentation xml:lang="en">EG attack time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_vel2attack"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG attack time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_decay"><xs:annotation><xs:documentation xml:lang="en">EG decay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_vel2decay"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on pitch EG decay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_delay"><xs:annotation><xs:documentation xml:lang="en">EG delay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_vel2delay"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on pitch EG delay time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_depth"><xs:annotation><xs:documentation xml:lang="en">Envelope depth.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-12000_12000" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_vel2depth"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG depth, in cents for pitch or filter cutoff.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-12000_12000" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_hold"><xs:annotation><xs:documentation xml:lang="en">EG hold time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_vel2hold"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG hold time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_release"><xs:annotation><xs:documentation xml:lang="en">EG release time (after note release).</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_vel2release"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG release time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_start"><xs:annotation><xs:documentation xml:lang="en">Envelope start level, in percentage.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_sustain"><xs:annotation><xs:documentation xml:lang="en">EG sustain level, in percentage.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitcheg_vel2sustain"><xs:annotation><xs:documentation xml:lang="en">Velocity effect on EG sustain level, in percentage.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="egN_points"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_timeX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_timeX_onccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_levelX"><xs:annotation><xs:documentation xml:lang="en">Sets the envelope level at a specific point in envelope number N.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-1_1"><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="egN_levelX_onccY"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-1_1"><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="egN_shapeX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_curveX"><xs:annotation><xs:documentation xml:lang="en">Instructs the player to use a curve shape defined under a curve header for the specified envelope segment.</xs:documentation></xs:annotation><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_sustain"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_loop"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_loop_count"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_volume"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_volume_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_amplitude"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_amplitude_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_pan"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_pan_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_width"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_width_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_pan_curve"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_pan_curveccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_freq_lfoX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_depth_lfoX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_depthadd_lfoX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_pitch"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_pitch_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_cutoff"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_cutoff_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_cutoff2"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_cutoff2_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_resonance"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_resonance_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_resonance2"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_resonance2_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_eqXfreq"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_eqXfreq_onccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_eqXbw"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_eqXbw_onccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_eqXgain"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="egN_eqXgain_onccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>


<!-- Type: LFO -->
<xs:element name="amplfo_delay"><xs:annotation><xs:documentation xml:lang="en">The time before the LFO starts oscillating.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amplfo_depth"><xs:annotation><xs:documentation xml:lang="en">LFO depth.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-10_10" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amplfo_depth_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-10_10"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amplfo_depthchanaft"><xs:annotation><xs:documentation xml:lang="en">LFO depth when channel aftertouch MIDI messages are received.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-10_10" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amplfo_depthpolyaft"><xs:annotation><xs:documentation xml:lang="en">LFO depth when polyphonic aftertouch MIDI messages are received.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-10_10" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amplfo_fade"><xs:annotation><xs:documentation xml:lang="en">LFO fade-in effect time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amplfo_freq"><xs:annotation><xs:documentation xml:lang="en">LFO frequency, in hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_20" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amplfo_freqccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-200_200"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amplfo_freqchanaft"><xs:annotation><xs:documentation xml:lang="en">LFO frequency change when channel aftertouch MIDI messages are received, in Hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-200_200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amplfo_freqpolyaft"><xs:annotation><xs:documentation xml:lang="en">LFO frequency change when polyphonic aftertouch MIDI messages are received, in Hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-200_200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fillfo_delay"><xs:annotation><xs:documentation xml:lang="en">The time before the LFO starts oscillating.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fillfo_depth"><xs:annotation><xs:documentation xml:lang="en">LFO depth.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-1200_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fillfo_depth_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-1200_1200"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fillfo_depthchanaft"><xs:annotation><xs:documentation xml:lang="en">LFO depth when channel aftertouch MIDI messages are received.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-1200_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fillfo_depthpolyaft"><xs:annotation><xs:documentation xml:lang="en">LFO depth when polyphonic aftertouch MIDI messages are received.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-1200_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fillfo_fade"><xs:annotation><xs:documentation xml:lang="en">LFO fade-in effect time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fillfo_freq"><xs:annotation><xs:documentation xml:lang="en">LFO frequency, in hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_20" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fillfo_freqccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-200_200"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fillfo_freqchanaft"><xs:annotation><xs:documentation xml:lang="en">LFO frequency change when channel aftertouch MIDI messages are received, in Hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-200_200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fillfo_freqpolyaft"><xs:annotation><xs:documentation xml:lang="en">LFO frequency change when polyphonic aftertouch MIDI messages are received, in Hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-200_200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitchlfo_delay"><xs:annotation><xs:documentation xml:lang="en">The time before the LFO starts oscillating.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitchlfo_depth"><xs:annotation><xs:documentation xml:lang="en">LFO depth.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-1200_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitchlfo_depth_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-1200_1200"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitchlfo_depthchanaft"><xs:annotation><xs:documentation xml:lang="en">LFO depth when channel aftertouch MIDI messages are received.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-1200_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitchlfo_depthpolyaft"><xs:annotation><xs:documentation xml:lang="en">LFO depth when polyphonic aftertouch MIDI messages are received.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-1200_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitchlfo_fade"><xs:annotation><xs:documentation xml:lang="en">LFO fade-in effect time.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitchlfo_freq"><xs:annotation><xs:documentation xml:lang="en">LFO frequency, in hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_20" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitchlfo_freqccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-200_200"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitchlfo_freqchanaft"><xs:annotation><xs:documentation xml:lang="en">LFO frequency change when channel aftertouch MIDI messages are received, in Hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-200_200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitchlfo_freqpolyaft"><xs:annotation><xs:documentation xml:lang="en">LFO frequency change when polyphonic aftertouch MIDI messages are received, in Hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-200_200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lfoN_freq"><xs:annotation><xs:documentation xml:lang="en">The base frequency of LFO number N, in Hertz.</xs:documentation></xs:annotation><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_freq_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_freq_smoothccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_freq_stepccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_delay"><xs:annotation><xs:documentation xml:lang="en">Onset delay for LFO number N.</xs:documentation></xs:annotation><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_delay_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_fade"><xs:annotation><xs:documentation xml:lang="en">Fade-in time for LFO number N.</xs:documentation></xs:annotation><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_fade_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_phase"><xs:annotation><xs:documentation xml:lang="en">Initial phase shift for LFO number N.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_1"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lfoN_phase_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_count"><xs:annotation><xs:documentation xml:lang="en">Number of LFO repetitions for LFO N before the LFO stops.</xs:documentation></xs:annotation><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_wave"><xs:annotation><xs:documentation xml:lang="en">LFO waveform selection.</xs:documentation></xs:annotation><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_steps"><xs:annotation><xs:documentation xml:lang="en">Number of steps in LFO step sequencer.</xs:documentation></xs:annotation><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_stepX"><xs:annotation><xs:documentation xml:lang="en">Level of the step number X in LFO step sequencer.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100"><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lfoN_stepX_onccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_smooth"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_smooth_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_volume"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_volume_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_volume_smoothccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_volume_stepccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_amplitude"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_amplitude_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_amplitude_smoothccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_amplitude_stepccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_pan"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_pan_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_pan_smoothccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_pan_stepccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_width"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_width_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_width_smoothccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_width_stepccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_freq_lfoX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_depth_lfoX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_depthadd_lfoX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_pitch"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_pitch_curveccX"><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_255"><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lfoN_pitch_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_pitch_smoothccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_pitch_stepccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_cutoff"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_cutoff2"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_cutoff2_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_cutoff2_smoothccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_cutoff2_stepccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_cutoff_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_cutoff_smoothccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_cutoff_stepccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_resonance"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_resonance2"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_resonance2_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_resonance2_smoothccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_resonance2_stepccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_resonance_onccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_resonance_smoothccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_resonance_stepccX"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXfreq"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXfreq_onccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXfreq_smoothccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXfreq_stepccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXbw"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXbw_onccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXbw_smoothccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXbw_stepccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required"/><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXgain"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXgain_onccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXgain_smoothccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="lfoN_eqXgain_stepccY"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /><xs:attribute name="y" type="xs:integer" use="required" /></xs:complexType></xs:element>

</xs:schema>