schema/includes/region_performanceparameters_opcodes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:annotation>
    <xs:documentation>
    ================ ## Region opcodes: Performance perameters  ==================================
    </xs:documentation>
</xs:annotation>

<!-- Type: Amplifier -->
<xs:element name="pan"><xs:annotation><xs:documentation xml:lang="en">The panoramic position for the region.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="position"><xs:annotation><xs:documentation xml:lang="en">Only operational for stereo samples, &lt;code&gt;position&lt;/code&gt; defines the position in the stereo field of a stereo signal, after channel mixing as defined in the &lt;a href='/opcodes/width'&gt;width&lt;/a&gt; opcode.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="volume"><xs:annotation><xs:documentation xml:lang="en">The volume for the region, in decibels.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-144_6" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="gain_onccN"><xs:annotation><xs:documentation xml:lang="en">Gain applied on MIDI control N, in decibels.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-144_48"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<!-- TODO: gain vs gain_on vs volume_on -->
<!-- gain_ccN alias: volume_onccN [SFZ v2] ?  _on seems more v2 -->
<!-- volume_onccN named as an v2 alias of gain_ccN and therefore gain_onccN!? Is gain opcode redundant, or does it work on input?? -->
<xs:element name="volume_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-144_48"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="volume_curveccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_255"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="volume_smoothccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="volume_stepccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="width"><xs:annotation><xs:documentation xml:lang="en">Only operational for stereo samples, width defines the amount of channel mixing applied to play the sample.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amp_keycenter"><xs:annotation><xs:documentation xml:lang="en">Center key for amplifier keyboard tracking. In this key, the amplifier keyboard tracking will have no effect.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amp_keytrack"><xs:annotation><xs:documentation xml:lang="en">Amplifier keyboard tracking (change in amplitude per key) in decibels.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-96_12" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amp_veltrack"><xs:annotation><xs:documentation xml:lang="en">Amplifier velocity tracking, represents how much the amplitude changes with incoming note velocity.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amp_velcurve_N"><xs:annotation><xs:documentation xml:lang="en">User-defined amplifier velocity curve.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_1"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="amp_random"><xs:annotation><xs:documentation xml:lang="en">Random volume for the region, in decibels.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_24" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="rt_decay"><xs:annotation><xs:documentation xml:lang="en">Applies only to regions that triggered through trigger=release. The volume decrease (in decibels) per seconds after the note has been attacked.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xf_cccurve"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="gain" /><xs:enumeration value="power" /></xs:restriction></xs:simpleType></xs:element>
<xs:element name="xf_keycurve"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="gain" /><xs:enumeration value="power" /></xs:restriction></xs:simpleType></xs:element>
<xs:element name="xf_velcurve"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="gain" /><xs:enumeration value="power" /></xs:restriction></xs:simpleType></xs:element>
<xs:element name="xfin_loccN"><xs:annotation><xs:documentation xml:lang="en">Fade in control based on MIDI CC.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfin_hiccN"><xs:annotation><xs:documentation xml:lang="en">Fade in control based on MIDI CC.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfout_loccN"><xs:annotation><xs:documentation xml:lang="en">Fade out control based on MIDI CC.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfout_hiccN"><xs:annotation><xs:documentation xml:lang="en">Fade out control based on MIDI CC.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfin_lokey"><xs:annotation><xs:documentation xml:lang="en">Fade in control based on MIDI note (keyboard position).</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfin_hikey"><xs:annotation><xs:documentation xml:lang="en">Fade in control based on MIDI note (keyboard position).</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfout_lokey"><xs:annotation><xs:documentation xml:lang="en">Fade out control based on MIDI note number (keyboard position).</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfout_hikey"><xs:annotation><xs:documentation xml:lang="en">Fade out control based on MIDI note number (keyboard position).</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfin_lovel"><xs:annotation><xs:documentation xml:lang="en">Fade in control based on velocity.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfin_hivel"><xs:annotation><xs:documentation xml:lang="en">Fade in control based on velocity.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfout_lovel"><xs:annotation><xs:documentation xml:lang="en">Fade out control, based on velocity.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="xfout_hivel"><xs:annotation><xs:documentation xml:lang="en">Fade out control, based on velocity.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="phase"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="normal" /><xs:enumeration value="invert" /></xs:restriction></xs:simpleType></xs:element>
<xs:element name="pan_keycenter"><xs:annotation><xs:documentation xml:lang="en">Center key for pan keyboard tracking.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pan_keytrack"><xs:annotation><xs:documentation xml:lang="en">The amount by which the panning of a note is shifted with each key.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pan_veltrack"><xs:annotation><xs:documentation xml:lang="en">The effect of note velocity on panning.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-100_100" /></xs:simpleContent></xs:complexType></xs:element>

<!-- Type: EQ -->
<xs:element name="eqN_bw"><xs:annotation><xs:documentation xml:lang="en">Bandwidth of the equalizer band, in octaves.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0.001_4"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="eqN_bw_onccX"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-4_4"><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="eqN_freq"><xs:annotation><xs:documentation xml:lang="en">Frequency of the equalizer band, in Hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_30000"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="eqN_freq_onccX"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-30000_30000"><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="eqN_vel2freq"><xs:annotation><xs:documentation xml:lang="en">Frequency change of the equalizer band with MIDI velocity, in Hertz.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-30000_30000"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="eqN_gain"><xs:annotation><xs:documentation xml:lang="en">Gain of the equalizer band, in decibels.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-96_24"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="eqN_gain_onccX"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-96_24"><xs:attribute name="n" type="xs:integer" use="required" /><xs:attribute name="x" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="eqN_vel2gain"><xs:annotation><xs:documentation xml:lang="en">Gain change of the equalizer band with MIDI velocity, in decibels.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_-96_24"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="eqN_type"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="peak" /><xs:enumeration value="lshelf" /><xs:enumeration value="hshelf" /></xs:restriction></xs:simpleType></xs:element>

<!-- Type: Filter -->
<xs:element name="cutoff"><xs:annotation><xs:documentation xml:lang="en">Sets the cutoff frequency (Hz) of the &lt;a href='/misc/categories#performance-parameters'&gt;filters&lt;/a&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_256000" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="cutoff2"><xs:annotation><xs:documentation xml:lang="en">Sets the cutoff frequency (Hz) of the &lt;a href='/misc/categories#performance-parameters'&gt;filters&lt;/a&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_256000" /></xs:simpleContent></xs:complexType></xs:element>
<!-- TODO: cutoff2_ccN SFZ v1 version? -->
<!-- 
<xs:element name="cutoff2_ccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element> 
-->
<xs:element name="cutoff2_onccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="cutoff2_curveccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="cutoff2_smoothccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="cutoff2_stepccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="cutoff2_chanaft" />
<xs:element name="cutoff2_polyaft" />
<xs:element name="cutoff_onccN"><xs:annotation><xs:documentation xml:lang="en">The variation in the cutoff frequency when MIDI continuous controller N is received.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-9600_9600"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="cutoff_curveccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_255"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="cutoff_smoothccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="cutoff_stepccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="cutoff_chanaft"><xs:annotation><xs:documentation xml:lang="en">The variation in the cutoff frequency when MIDI channel aftertouch messages are received, in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-9600_9600" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="cutoff_polyaft"><xs:annotation><xs:documentation xml:lang="en">The variation in the cutoff frequency when MIDI polyphonic aftertouch messages are received, in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-9600_9600" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fil_keycenter"><xs:annotation><xs:documentation xml:lang="en">Center key for filter keyboard tracking.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fil2_keycenter"><xs:annotation><xs:documentation xml:lang="en">Same as &lt;a href='/opcodes/fil_keycenter'&gt;fil_keycenter&lt;/a&gt;, but used to specify the type for the second filter.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fil_keytrack"><xs:annotation><xs:documentation xml:lang="en">Filter keyboard tracking (change on cutoff for each key) in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fil2_keytrack"><xs:annotation><xs:documentation xml:lang="en">Same as &lt;a href='/opcodes/fil_keytrack'&gt;fil_keytrack&lt;/a&gt;, but used to specify the type for the second filter.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="cutoff_random"><xs:annotation><xs:documentation xml:lang="en">Random value added to the filter cutoff for the region, in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_9600" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fil_type"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="lpf_1p" /><xs:enumeration value="hpf_1p" /><xs:enumeration value="lpf_2p" /><xs:enumeration value="hpf_2p" /><xs:enumeration value="bpf_2p" /><xs:enumeration value="brf_2p" /><xs:enumeration value="bpf_1p" /><xs:enumeration value="brf_1p" /><xs:enumeration value="apf_1p" /><xs:enumeration value="lpf_2p_sv" /><xs:enumeration value="hpf_2p_sv" /><xs:enumeration value="bpf_2p_sv" /><xs:enumeration value="brf_2p_sv" /><xs:enumeration value="pkf_2p" /><xs:enumeration value="lpf_4p" /><xs:enumeration value="hpf_4p" /><xs:enumeration value="lpf_6p" /><xs:enumeration value="hpf_6p" /><xs:enumeration value="comb" /><xs:enumeration value="pink" /><xs:enumeration value="lsh" /><xs:enumeration value="hsh" /><xs:enumeration value="peq" /></xs:restriction></xs:simpleType></xs:element>
<xs:element name="fil_veltrack"><xs:annotation><xs:documentation xml:lang="en">Filter velocity tracking, the amount by which the cutoff changes with incoming note velocity, in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-9600_9600" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="fil2_veltrack"><xs:annotation><xs:documentation xml:lang="en">Same as &lt;a href='/opcodes/fil_veltrack'&gt;fil_veltrack&lt;/a&gt;, but used to specify the type for the second filter.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-9600_9600" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="resonance"><xs:annotation><xs:documentation xml:lang="en">The filter cutoff resonance value, in decibels.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_40" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="resonance2"><xs:annotation><xs:documentation xml:lang="en">The filter cutoff resonance value, in decibels.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_40" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="resonance2_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_40"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<!-- TODO: resonance2_onccN alias: resonance2_ccN [SFZ v2] ? -->
<!-- 
<xs:element name="resonance2_ccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_40"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
-->
<xs:element name="resonance2_curveccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_255"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="resonance2_smoothccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="resonance2_stepccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="resonance_onccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_40"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="resonance_curveccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_255"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="resonance_smoothccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="resonance_stepccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>

<!-- Type: Pitch -->
<xs:element name="bend_up"><xs:annotation><xs:documentation xml:lang="en">Pitch bend range when Bend Wheel or Joystick is moved up, in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-9600_9600" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="bend_down"><xs:annotation><xs:documentation xml:lang="en">Pitch bend range when Bend Wheel or Joystick is moved down, in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-9600_9600" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="bend_smooth" type="xs:float"><xs:annotation><xs:documentation xml:lang="en">Pitch bend smoothness. Adds “inertia” to pitch bends, so fast movements of the pitch bend wheel will have a delayed effect on the pitch change.</xs:documentation></xs:annotation></xs:element>
<xs:element name="bend_step"><xs:annotation><xs:documentation xml:lang="en">Pitch bend step, in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_1_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="tune"><xs:annotation><xs:documentation xml:lang="en">The fine tuning for the sample, in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-100_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitch_onccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="pitch_curveccN"><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_255"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitch_smoothccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="pitch_stepccN"><xs:complexType><xs:attribute name="n" type="xs:integer" use="required" /></xs:complexType></xs:element>
<xs:element name="pitch_keycenter"><xs:annotation><xs:documentation xml:lang="en">Root key for the &lt;a href='/opcodes/sample'&gt;sample&lt;/a&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitch_keytrack"><xs:annotation><xs:documentation xml:lang="en">Within the region, this value defines how much the pitch changes with every note.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-1200_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitch_random"><xs:annotation><xs:documentation xml:lang="en">Random tuning for the region, in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_9600" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="pitch_veltrack"><xs:annotation><xs:documentation xml:lang="en">Pitch velocity tracking, represents how much the pitch changes with incoming note velocity, in cents.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-9600_9600" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="transpose"><xs:annotation><xs:documentation xml:lang="en">The transposition value for this region which will be applied to the sample.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-127_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="bend_stepup"><xs:annotation><xs:documentation xml:lang="en">Pitch bend step, in cents, applied to upwards bends only.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_1_1200" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="bend_stepdown"><xs:annotation><xs:documentation xml:lang="en">Pitch bend step, in cents, for downward pitch bends.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_1_1200" /></xs:simpleContent></xs:complexType></xs:element>

</xs:schema>