schema/includes/region_regionlogic_opcodes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation>
        ================ ## Region opcodes: Region logic  ==================================
        </xs:documentation>
    </xs:annotation>

<!-- Type: Key Mapping -->
<xs:element name="key"><xs:annotation><xs:documentation xml:lang="en">Equivalent to using &lt;a href='/opcodes/lokey'&gt;lokey&lt;/a&gt;, &lt;a href='/opcodes/hikey'&gt;hikey&lt;/a&gt; and &lt;a href='/opcodes/pitch_keycenter'&gt;pitch_keycenter&lt;/a&gt; and setting them all to the same note value.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lokey"><xs:annotation><xs:documentation xml:lang="en">Determine the low boundary of a certain &lt;a href='/headers/region'&gt;region&lt;/a&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="hikey"><xs:annotation><xs:documentation xml:lang="en">Determine the high boundary of a certain &lt;a href='/headers/region'&gt;region&lt;/a&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lovel"><xs:annotation><xs:documentation xml:lang="en">If a note with velocity value equal to or higher than &lt;code&gt;lovel&lt;/code&gt; AND equal to or lower than &lt;code&gt;hivel&lt;/code&gt; is played, the region will play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_1_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="hivel"><xs:annotation><xs:documentation xml:lang="en">If a note with velocity value equal to or higher than &lt;code&gt;lovel&lt;/code&gt; AND equal to or lower than &lt;code&gt;hivel&lt;/code&gt; is played, the region will play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_1_127" /></xs:simpleContent></xs:complexType></xs:element>

<!-- Type: MIDI Conditions -->
<xs:element name="lochan"><xs:annotation><xs:documentation xml:lang="en">If incoming notes have a MIDI channel between &lt;code&gt;lochan&lt;/code&gt; and &lt;code&gt;hichan&lt;/code&gt;, the region will play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_1_16" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="hichan"><xs:annotation><xs:documentation xml:lang="en">If incoming notes have a MIDI channel between &lt;code&gt;lochan&lt;/code&gt; and &lt;code&gt;hichan&lt;/code&gt;, the region will play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_1_16" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="loccN"><xs:annotation><xs:documentation xml:lang="en">Defines the range of the last MIDI controller N required for the region to play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="hiccN"><xs:annotation><xs:documentation xml:lang="en">Defines the range of the last MIDI controller N required for the region to play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lobend"><xs:annotation><xs:documentation xml:lang="en">Defines the range of the last Pitch Bend message required for the region to play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-8192_8192" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="hibend"><xs:annotation><xs:documentation xml:lang="en">Defines the range of the last Pitch Bend message required for the region to play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_-8192_8192" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="sostenuto_sw"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="on" /><xs:enumeration value="off" /></xs:restriction></xs:simpleType></xs:element>
<xs:element name="sustain_sw"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="on" /><xs:enumeration value="off" /></xs:restriction></xs:simpleType></xs:element>
<xs:element name="sw_lokey"><xs:annotation><xs:documentation xml:lang="en">Defines the range of the keyboard to be used as trigger selectors for the &lt;a href='/opcodes/sw_last'&gt;sw_last&lt;/a&gt; opcode.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="sw_hikey"><xs:annotation><xs:documentation xml:lang="en">Defines the range of the keyboard to be used as trigger selectors for the &lt;a href='/opcodes/sw_last'&gt;sw_last&lt;/a&gt; opcode.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="sw_last"><xs:annotation><xs:documentation xml:lang="en">Enables the region to play if the last key pressed in the range specified by &lt;a href='/opcodes/sw_lokey'&gt;sw_lokey and sw_hikey&lt;/a&gt; is equal to the &lt;code&gt;sw_last&lt;/code&gt; value.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="sw_down"><xs:annotation><xs:documentation xml:lang="en">Enables the region to play if the key equal to &lt;code&gt;sw_down&lt;/code&gt; value is depressed. Key has to be in the range specified by &lt;a href='/opcodes/sw_lokey'&gt;sw_lokey and sw_hikey&lt;/a&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="sw_up"><xs:annotation><xs:documentation xml:lang="en">Enables the region to play if the key equal to &lt;code&gt;sw_up&lt;/code&gt; value is not depressed.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="sw_previous"><xs:annotation><xs:documentation xml:lang="en">Previous note value. The region will play if last note-on message was equal to &lt;code&gt;sw_previous&lt;/code&gt; value.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="sw_vel"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="current" /><xs:enumeration value="previous" /></xs:restriction></xs:simpleType></xs:element>
<xs:element name="loprog"><xs:annotation><xs:documentation xml:lang="en">The region plays when the MIDI program number is between &lt;code&gt;loprog&lt;/code&gt; and &lt;code&gt;hiprog&lt;/code&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="hiprog"><xs:annotation><xs:documentation xml:lang="en">The region plays when the MIDI program number is between &lt;code&gt;loprog&lt;/code&gt; and &lt;code&gt;hiprog&lt;/code&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="sw_default"><xs:annotation><xs:documentation xml:lang="en">Define keyswitch 'power on default' so that you hear something when a patch loads.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>

<!-- Type: Internal Conditions -->
<xs:element name="lobpm"><xs:annotation><xs:documentation xml:lang="en">Host tempo value (default 0). The region will play if the host tempo is equal to or higher than lobpm, and lower than hibpm.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_500" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="hibpm"><xs:annotation><xs:documentation xml:lang="en">Host tempo value (default 500). The region will play if the host tempo is equal to or higher than lobpm, and lower than hibpm.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_500" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lochanaft"><xs:annotation><xs:documentation xml:lang="en">Defines the range of last Channel Aftertouch message required for the region to play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="hichanaft"><xs:annotation><xs:documentation xml:lang="en">Defines the range of last Channel Aftertouch message required for the region to play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lopolyaft"><xs:annotation><xs:documentation xml:lang="en">Defines the range of last Polyphonic Aftertouch message required for the region to play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="hipolyaft"><xs:annotation><xs:documentation xml:lang="en">Defines the range of last Polyphonic Aftertouch message required for the region to play.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lorand"><xs:annotation><xs:documentation xml:lang="en">The region will play if the random number is equal to or higher than &lt;code&gt;lorand&lt;/code&gt;, and lower than &lt;code&gt;hirand&lt;/code&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_1" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="hirand"><xs:annotation><xs:documentation xml:lang="en">The region will play if the random number is equal to or higher than &lt;code&gt;lorand&lt;/code&gt;, and lower than &lt;code&gt;hirand&lt;/code&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_float_0_1" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="seq_length"><xs:annotation><xs:documentation xml:lang="en">Sequence length, used together with &lt;a href='/opcodes/seq_position'&gt;seq_position&lt;/a&gt; to use samples as round robins.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_1_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="seq_position"><xs:annotation><xs:documentation xml:lang="en">Sequence position. The region will play if the internal sequence counter is equal to &lt;code&gt;seq_position&lt;/code&gt;.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_1_100" /></xs:simpleContent></xs:complexType></xs:element>
<xs:element name="lotimer" type="xs:float"><xs:annotation><xs:documentation xml:lang="en">Region plays if timer is between &lt;code&gt;lotimer&lt;/code&gt; and &lt;code&gt;hitimer&lt;/code&gt;.</xs:documentation></xs:annotation></xs:element>
<xs:element name="hitimer" type="xs:float"><xs:annotation><xs:documentation xml:lang="en">Region plays if timer is between &lt;code&gt;lotimer&lt;/code&gt; and &lt;code&gt;hitimer&lt;/code&gt;.</xs:documentation></xs:annotation></xs:element>

 <!-- Type: Triggers -->
 <xs:element name="trigger"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="attack" /><xs:enumeration value="release" /><xs:enumeration value="first" /><xs:enumeration value="legato" /><xs:enumeration value="release_key" /></xs:restriction></xs:simpleType></xs:element>
 <xs:element name="start_loccN"><xs:annotation><xs:documentation xml:lang="en">If a MIDI control message with a value between &lt;code&gt;on_loccN&lt;/code&gt; and &lt;code&gt;on_hiccN&lt;/code&gt; is received, the region will play. Default value is -1, it means unassigned.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
 <xs:element name="start_hiccN"><xs:annotation><xs:documentation xml:lang="en">If a MIDI control message with a value between &lt;code&gt;on_loccN&lt;/code&gt; and &lt;code&gt;on_hiccN&lt;/code&gt; is received, the region will play. Default value is -1, it means unassigned.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
 <xs:element name="stop_loccN"><xs:annotation><xs:documentation xml:lang="en">If a MIDI control message with a value between &lt;code&gt;stop_loccN&lt;/code&gt; and &lt;code&gt;stop_hiccN&lt;/code&gt; is received, the region will stop playing. Default value is -1, it means unassigned.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>
 <xs:element name="stop_hiccN"><xs:annotation><xs:documentation xml:lang="en">If a MIDI control message with a value between &lt;code&gt;stop_loccN&lt;/code&gt; and &lt;code&gt;stop_hiccN&lt;/code&gt; is received, the region will stop playing. Default value is -1, it means unassigned.</xs:documentation></xs:annotation><xs:complexType><xs:simpleContent><xs:extension base="rmm_integer_0_127"><xs:attribute name="n" type="xs:integer" use="required" /></xs:extension></xs:simpleContent></xs:complexType></xs:element>

</xs:schema>